* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Code';
}
.flex {
	display: flex;
}
.flex-box {
	height: 100vh;
	width: auto;
	background: #000;
	justify-content: center;
	align-items: center;
}
.flex-container {
	height: 400px;
	width: 400px;
	background: white;
	border-radius: 25px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.flex-items {
	justify-content: space-between;
	width: 80%;
}
button{
	height: 50px;
	width: 150px;
	color: white;
	background: purple;
	border: none;
	border-radius: 20px;
	font-size: xx-large;
	cursor: pointer;
}
#message{
	font-size: 100px;
}
